<%- include("../includes/head") %>
    <section class="mx-auto">
      <h1>Password reset link is send to your email address.</h1>
      <p>Check your inbox </p>
      <p>or</p>
      <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">Click to open gmail app</a>
      <a href="/">Go back home</a>
    </section>
    
  </body>
  <%- include("../includes/foot") %>
