<%- include("../includes/head") %>
    <section class="mx-auto feedback">
      <h1>Password reset link is send to your email address.</h1>
      <p>Check your inbox </p>
      <p class="or">or</p>
      <div class="mx-auto">
        <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank" class=" btn-full">Click to open gmail app</a>
      </div>
    </section>
    
  </body>
  <%- include("../includes/foot") %>
