<%- include("../includes/head") %>

    <section class="mx-auto">
      <a href="/">Go back home</a>
      <h1 class="title">Login account</h1>
      <form action="/login" method="post">\
        <input hidden value="<%= csrfToken %>" name="_csrf" />
        <div>
          <label for="email">Enter email</label>
          <input type="text" id="email" name="email"  />
        </div>
        <div>
            <label for="password">Enter password</label>
            <input type="password" id="password" name="password"  />
          </div>
        <button>Login</button>
      </form>
    </section>
  </body>
  <%- include("../includes/foot") %>
