<%- include("../includes/head") %>

    <section class="mx-auto">
      <a href="/login">Go back login</a>
      <h1 class="title form-title">Reset password</h1>
      <% if(errorMsg){ %>
        <p class="msg-box"><%= errorMsg %></p>
      <% }%>
      <form action="/reset" method="post">
        <input hidden value="<%= csrfToken %>" name="_csrf" />
        <div>
          <label for="email">Enter email</label>
          <input type="email" id="email" name="email"  />
        </div>
        <button>Reset password</button>
      </form>
    </section>
  </body>
  <%- include("../includes/foot") %>