<%- include("./includes/head") %>

    <section class="mx-auto">
      <a href="/">Go back home</a>
      <h1 class="title">Add a new post here!</h1>
      <form action="/admin" method="post">
        <div>
          <label for="title">Enter title</label>
          <input type="text" id="title" name="title" required />
        </div>
        <div>
          <label for="photo">Enter photo</label>
          <input type="text" id="photo" name="photo" required />
        </div>
        <div>
          <label for="description">Enter description</label>
          <textarea
            name="description"
            id="description"
            cols="30"
            rows="10"
          ></textarea>
        </div>
        <button>Add Post</button>
      </form>
    </section>
  </body>
  <%- include("./includes/foot") %>
