<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1 class="title">Homepage</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad dignissimos
      veniam pariatur autem. Maxime velit eos sint. Tempore quam cumque optio
      laborum dolore commodi cum dolorem deleniti soluta, ea nemo.
    </p>
    <a href="/admin/create-post">Add a new post</a>
  </body>
</html>
