<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Page</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1 class="title">I am post page</h1>
    <p class="description">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio vel
      molestiae culpa, ipsum provident odit repellat minima, earum reiciendis,
      libero harum consequuntur a at neque hic voluptas temporibus inventore
      possimus?
    </p>
  </body>
</html>
