@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.header {
  text-align: center;
  margin: 30px 0;
  padding: 0 80px;
}
.hr {
  margin: 20px auto;
  width: 80%;
}
.header h1 {
  font-size: 50px;
}
.header p {
  font-size: 22px;
}
.login-div,
.login-div div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-div div {
  gap: 10px;
}
.login-div div span {
  font-size: 20px;
  font-weight: bold;
}
.title {
  font-size: 40px;
  padding-left: 80px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.form-title {
  text-align: center;
}
.post-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 80px;
  gap: 20px;
}
.post-box {
  flex: 1;
}
.post-title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
}
.post-des {
  font-size: 22px;
}
.post-email {
  font-size: 19px;
  margin: 10px 0;
  font-weight: 600;
}
.details {
  width: 60%;
  margin: auto;
  padding: 20px 0;
}
.details div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details h1 {
  font-size: 44px;
  margin-bottom: 40px;
}
.details img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
.details .des {
  font-size: 21px;
}
.details hr {
  margin: 20px 0;
}
.tmp {
  margin: 4px 0;
  font-weight: 500;
}
a {
  display: block;
  margin: 10px 0;
  color: #fff;
  background-color: #000;
  padding: 8px 10px;
  width: fit-content;
  text-decoration: none;
}
label {
  display: block;
  font-size: 16px;
  margin-top: 10px;
}
input,
textarea {
  font-size: 18px;
  padding: 4px 0;
  width: 100%;
}
button,
.btn-full {
  margin: 10px 0;
  color: #fff;
  background-color: #000;
  padding: 8px 20px;
  font-size: 15px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
}
.mx-auto {
  width: 40%;
  margin: auto auto;
}
.feedback {
  text-align: center;
  padding: 40px 0;
}
.feedback h1 {
  font-size: 30px;
}
.feedback p {
  font-size: 20px;
  margin-top: 10px;
}
.or {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
}
.msg-box {
  width: 100%;
  text-align: center;
  color: red;
  border: 1px solid red;
  background-color: rgb(255, 184, 184);
  padding: 4px 10px;
}
.msg-box-warn {
  width: 100%;
  text-align: center;
  border: 1px solid yellow;
  background-color: rgb(255, 255, 193);
  padding: 4px 10px;
}
