<%- include("../includes/head") %>
    <section class="premium">
      <div class="card">
        <h3>IO PERMIUM</h3>
        <ul>
            <li>Can save post as PDF file</li>
            <li>Animate profile badge</li>
            <li>Can set username unlimited</li>
        </ul>
        <p>Buy IO premium</p>
      </div>
    </section>
  </body>
<%- include("../includes/foot") %>