<%- include("../includes/head") %>
    <section class="s-success">
     <h1>Subscription Successful.</h1>
     <a href="/admin/profile">GO BACK PROFILE</a>
    </section>
  </body>
  <%- include("../includes/foot") %>