<%- include("../includes/head") %>
    <section class="mx-auto">
     <h1>Subscription Successful.</h1>
     <p>Subscription ID - <%= subscription_id %></p>
    </section>
  </body>
  <%- include("../includes/foot") %>