<%- include("../includes/head") %>
<section class="four">
  <h1>Page Not Found.</h1>
  <div class="flex-center">
    <a href="/">Go Back Homepage</a>
  </div>
</section>
<%- include("../includes/foot") %>
