<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF Docment</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1 class="font-family: 'Poppins', sans-serif;">{{post.title}}</h1>
    <p>Author - {{post.userId.email}}</p>
    <img
      src="http://localhost:8080/{{post.imgUrl}}"
      height="500"
      width="100%"
      alt="{{post.title}}"
    />
    <hr />
    <p style="font-family: 'Poppins', sans-serif">{{post.description}}</p>
  </body>
</html>
